<!-- Google sites verification -->
<meta name="google-site-verification" content="UcrXrm5jYl9ag5kmvBZygT4fpIXMfQtLZVOC-r3DIcE" />

<!-- Twitter/X OG tags -->
<meta name="twitter:image" content="https://avatars.githubusercontent.com/u/79012744?v=4?s=400" />
<meta name="twitter:site" content="@ShadowShahriar" />
<meta name="twitter:card" content="summary" />
<meta name="twitter:title" content="CSE 342: Advanced Programming" />
<meta
	name="twitter:description"
	content="A repository containing my solutions to Java-related problems and lab reports assigned by our lecturer, MJF (5th Semester) "
/>

<!-- OG tags -->
<meta property="og:image" content="https://avatars.githubusercontent.com/u/79012744?v=4?s=400" />
<meta property="og:image:alt" content="CSE 342: Advanced Programming" />
<meta property="og:site_name" content="GitHub" />
<meta property="og:title" content="CSE 342: Advanced Programming" />
<meta property="og:url" content="https://shadowshahriar.dev/cse342" />
<meta
	property="og:description"
	content="A repository containing my solutions to Java-related problems and lab reports assigned by our lecturer, MJF (5th Semester) "
/>

<!-- favicon -->
<meta name="apple-mobile-web-app-title" content="CSE 342" />
<!-- <link rel="icon" type="image/x-icon" href="assets/favicon/default.ico" />
<link rel="mask-icon" type="image/x-icon" href="assets/favicon/mask.svg" color="#111" /> -->

<!-- fonts -->
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
	href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap"
	rel="stylesheet"
/>

<!-- markdown theme -->
<link
	rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/github-markdown-css/5.6.1/github-markdown.min.css"
/>

<!-- some customization -->
<style>
	* {
		font-family: 'JetBrains Mono' !important;
	}

	body {
		margin: 0;
	}

	.markdown-body {
		margin: auto !important;
	}

	.markdown-body .highlight pre,
	.markdown-body pre {
		font-size: 100%;
	}

	.markdown-body > *:first-child {
		margin-top: 24px !important;
	}

	.highlight {
		background-color: var(--bgColor-muted) !important;
		border-radius: 6px;
	}

	@media (prefers-color-scheme: light) {
		body {
			background-color: #ffffff;
		}
	}

	@media (prefers-color-scheme: dark) {
		body {
			background-color: #0d1117;
		}
	}

	@media (max-width: 767px) {
		.markdown-body {
			padding: 15px;
		}
	}

	.footer {
		display: none;
	}

	[data-anchorjs-icon]::after {
		content: '#' !important;
	}
</style>

<script>
	document.title = 'CSE 342: Advanced Programming'
</script>
